<div class="container">
  <br />
  <h2 class="text-center font-weight-bold">Speakers and Syllabus</h2>
  <hr />
  <div class="container text-justify" style="font-size:18px">
    This Teachers’ Enrichment Workshop (TEW) is aimed primarily at mathematics teachers at the undergraduate and
    postgraduate levels. While research scholars in mathematics may also apply, they will have lower preference in
    selection. The sessions will be geared towards improving the understanding of the fundamental concepts and results
    in Linear Algebra and Multivariable Calculus, two subjects that are basic to mathematics and science. The workshop
    will be an intensive one and only those who are willing to actively participate and get their hands dirty by
    solving problems need apply.
  </div>
  <br />
  <hr />
  <br />
  <h2 class="text-center font-weight-bold">About the Speakers</h2>
  <br />
  <div class="row team-row">
    <div class="col-md-4 col-sm-12 team-wrap">
      <div class="team-member text-center">
        <div class="team-img">
          <img src="https://www.imsc.res.in/sites/default/files/faculty/photos/anirban-mukhopadhyay.png" alt="">
          <div class="overlay">
            <div class="team-details text-center">
              <header style="color:white;">
                <h1>Anirban Mukhopadhyay</h1>
                <span property="dc:title" content="Anirban Mukhopadhyay" class="rdf-meta element-hidden"></span><span
                  property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>
                <div>
                  <div class="field field-name-field-faculty-discipline field-type-taxonomy-term-reference field-label-hidden">
                    <div class="field-items">
                      <div class="field-item even">Mathematics</div>
                    </div>
                  </div>
                </div>
                <div><i class="fa fa-phone-square"></i> 2254 3251</div>
                <div><i class="fa fa-envelope-square"></i> anirban @ imsc . res . in</div>
                <div><i class="fa fa-map-marker"></i> 401 New Building</div>
              </header>
              <div class="socials mt-20">
                <a href="https://www.imsc.res.in/anirban_mukhopadhyay"><i class="fa fa-info-circle"></i> More </a>
              </div>
            </div>
          </div>
        </div>
        <h4 class="team-title"><b>Prof. Anirban Mukhopadhyay </b></h4>
        <span>IMSc, Chennai</span>
      </div>
    </div>
    <!-- end team member -->

    <div class="col-md-4 col-sm-12 team-wrap">
      <div class="team-member text-center">
        <div class="team-img">
          <img src="https://www.imsc.res.in/system/files/faculty/photos/knr-200x231.jpg" alt="">
          <div class="overlay">
            <div class="team-details text-center">
              <header style="color: white;">
                <h1 class="node-title">K N Raghavan</h1>
                <span property="dc:title" content="K N Raghavan" class="rdf-meta element-hidden"></span><span property="sioc:num_replies"
                  content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>
                <div>
                  <div class="field field-name-field-academic-title field-type-list-text field-label-hidden">
                    <div class="field-items">
                      <div class="field-item even">Professor</div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="field field-name-field-faculty-discipline field-type-taxonomy-term-reference field-label-hidden">
                    <div class="field-items">
                      <div class="field-item even">Mathematics</div>
                    </div>
                  </div>
                </div>
                <div><i class="fa fa-phone-square"></i> 2254 3264</div>
                <div><i class="fa fa-envelope-square"></i> knr @ imsc . res . in</div>
                <div><i class="fa fa-map-marker"></i> 414 New Building</div>
              </header>
              <div class="socials mt-20">
                  <a href="https://www.imsc.res.in/k_n_raghavan"><i class="fa fa-info-circle"></i> More </a>
                </div>
            </div>
          </div>
        </div>
        <h4 class="team-title"><b>Prof. K.N. Raghavan </b></h4>
        <span>IMSc, Chennai</span>
      </div>
    </div>
    <!-- end team member -->
    <div class="col-md-4 col-sm-12 team-wrap">
      <div class="team-member text-center">
        <div class="team-img">
          <img src="https://www.imsc.res.in/sites/default/files/default_images/davatar.jpg" alt="">
          <div class="overlay">
            <div class="team-details text-center">
              <header style="color:white;">
                <h1 class="node-title">S Sundar</h1>
                <span property="dc:title" content="S Sundar" class="rdf-meta element-hidden"></span><span property="sioc:num_replies"
                  content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>


                <div>
                  <div class="field field-name-field-academic-title field-type-list-text field-label-hidden">
                    <div class="field-items">
                      <div class="field-item even">Reader</div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="field field-name-field-faculty-discipline field-type-taxonomy-term-reference field-label-hidden">
                    <div class="field-items">
                      <div class="field-item even">Mathematics</div>
                    </div>
                  </div>
                </div>
                <div><i class="fa fa-phone-square"></i> 2254 3271</div>
                <div><i class="fa fa-envelope-square"></i> ssundar @ imsc . res . in</div>
                <div><i class="fa fa-map-marker"></i> 421 New Building</div>
              </header>
              <div class="socials mt-20">
                  <a href="https://www.imsc.res.in/s_sundar"><i class="fa fa-info-circle"></i> More </a>
                </div>
            </div>
          </div>
        </div>
        <h4 class="team-title"><b>Prof. S Sundar</b></h4>
        <span>IMSc, Chennai</span>
      </div>
    </div>
    <!-- end team member -->
  </div>
  <hr />
  <br />
  <h2 class="text-center font-weight-bold">Syllabus</h2>
  <br />
  <table class="table-hover table table-dark table-bordered-bd-primary">
    <tbody>
      <tr>
        <td><strong>Speaker</strong></td>
        <td><strong>Affiliation</strong></td>
        <td><strong>Topic(s)</strong></td>
        <td><strong>Number of lecture hours</strong></td>
        <td><strong>Number of tutorial hours</strong></td>
        <td><strong>Details</strong></td>
      </tr>
      <tr>
        <td>Anirban Mukhopadhyay</td>
        <td>IMSc, Chennai</td>
        <td>Linear Algebra and MVC</td>
        <td>10.5</td>
        <td>2 (conduct) + 2 (assist)</td>
        <td>The aim will be to highlight the unifying theme behind the fundamental theorem of calculus, Green’s
          theorem, and Guass’ divergence theorem. Stokes’ theorem (for R<sup>n</sup> )will be presented as a
          culminating point of this string of results. Will&nbsp; take the shortest possible path to give a self
          contained proof of Stokes’ theorem largely following Principles of Mathematical analysis by W. Rudin.</td>
      </tr>
      <tr>
        <td>K.N. Raghavan</td>
        <td>IMSc, Chennai</td>
        <td>Linear Algebra</td>
        <td>10.5</td>
        <td>2 (conduct) + 2 (assist)</td>
        <td>The emphasis will be on matrices,not on the more abstract notion of linear transformations. Should the
          situation demand it, some of the topics shall be partially or fully skipped. I will follow the notes on the
          web page <br><a href="https://www.imsc.res.in/~knr/past/linalg_ed.pdf">https://www.imsc.res.in/~knr/past/linalg_ed.pdf</a>,&nbsp;
          which themselves are based on Gilbert Strang’s book Introduction to Linear Algebra.
          <ul>
            <li>Why is row rank equal to column rank? RREF (row reduced echelon form) of a matrix, its properties.</li>
            <li>Solving linear equations: geometry of the solution space.</li>
            <li>Notion of orthogonal projection: application to the line of best fit (approximate solution to an
              overdetermined system).</li>
            <li>Determinant and volume; Eigenvalues and eigenvectors; characteristic and minimal polynomials;
              Cayley-Hamilton theorem (possibly without proof)</li>
            <li>Spectral theorem for a real symmetric matrix: applications</li>
            <li>Singular value decomposition: applications</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>S Sundar</td>
        <td>IMSc, Chennai</td>
        <td>Multivariable Calculus</td>
        <td>6</td>
        <td>2 (conduct) + 2 (assist)</td>
        <td>
          <ul>
            <li>Derivative as a linear map; examples; computing the derivative in terms of partial derivatives.</li>
            <li>Taylor’s theorem up to second order and applications to maxima-minima.</li>
            <li>Inverse function theorem with proof.</li>
            <li>Lagrange multiplier method with some examples.</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <br />
  <h2 class="text-center font-weight-bold">Schedule</h2>
  <hr />
  <br />
  <table class="table-hover table table-dark table-bordered-bd-primary">
    <tbody>
      <tr>
        <td><strong>Time</strong></td>
        <td><strong>09:30 to 11:00</strong></td>
        <td>&nbsp;</td>
        <td><strong>11:15 to 12:45</strong></td>
        <td>&nbsp;</td>
        <td><strong>14:00 to 15:30</strong></td>
        <td>&nbsp;</td>
        <td><strong>15:45 to 16:45</strong></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Mon 13th</td>
        <td>K.N.Raghavan</td>
        <td>&nbsp;</td>
        <td>S.Sundar</td>
        <td>L</td>
        <td>Anirban Mukhopadhyay</td>
        <td>&nbsp;</td>
        <td>Tutorials(K.N.Raghavan &amp; S.Sundar)</td>
        <td>S</td>
      </tr>
      <tr>
        <td>Tue 14th</td>
        <td>Anirban Mukhopadhyay</td>
        <td>T</td>
        <td>S.Sundar</td>
        <td>U</td>
        <td>K.N.Raghavan</td>
        <td>T</td>
        <td>Tutorials(Anirban Mukhopadhyay &amp; S.Sundar)</td>
        <td>N</td>
      </tr>
      <tr>
        <td>Wed 15th</td>
        <td>K.N.Raghavan</td>
        <td>E</td>
        <td>Anirban Mukhopadhyay</td>
        <td>N</td>
        <td>S.Sundar</td>
        <td>E</td>
        <td>Tutorials(K.N.Raghavan &amp; S.Sundar)</td>
        <td>A</td>
      </tr>
      <tr>
        <td>Thur 16th</td>
        <td>S.Sundar</td>
        <td>A</td>
        <td>K.N.Raghavan</td>
        <td>C</td>
        <td>Anirban Mukhopadhyay</td>
        <td>A</td>
        <td>Tutorials(S.Sundar &amp; Anirban Mukhopadhyay)</td>
        <td>C</td>
      </tr>
      <tr>
        <td>Fri 17th</td>
        <td>K.N.Raghavan</td>
        <td>&nbsp;</td>
        <td>Anirban Mukhopadhyay</td>
        <td>H</td>
        <td>K.N.Raghavan</td>
        <td>&nbsp;</td>
        <td>Tutorials(K.N.Raghavan &amp; Anirban Mukhopadhyay)</td>
        <td>K</td>
      </tr>
      <tr>
        <td>Sat 18th</td>
        <td>Anirban Mukhopadhyay</td>
        <td>&nbsp;</td>
        <td>K.N.Raghavan</td>
        <td>&nbsp;</td>
        <td>Anirban Mukhopadhyay</td>
        <td>&nbsp;</td>
        <td>Tutorials(Anirban Mukhopadhyay &amp; K.N.Raghavan)</td>
        <td>S</td>
      </tr>
    </tbody>
  </table>
</div>
