<div class="container" style="padding:30px">

  <h1 class="text-center font-weight-bold">TEW - Linear Algebra & Multivariable Calculus(2019)</h1>
  <hr />
  <h2 class='text-center'>
    <b>Venue </b>: Mepco Schlenk Engineering College, Sivakasi <br />
    <b>Dates </b>: 13 May 2019 to 18 May 2019
  </h2>
  <h1 class="text-center">About Us</h1>
  <hr />
  <div class="row team-row">
    <div class="col-md-6 col-sm-6 team-wrap">
      <div class="team-member text-center">
        <div class="team-img">
          <img src="https://upload.wikimedia.org/wikipedia/en/d/df/Mainblock.jpg" alt="">
          <div class="overlay">
            <div class="team-details text-center">
              <p>
                Mepco Schlenk Engineering College, Sivakasi is an ISO 9001:2015 certified, NACC accredited with 3.14 on
                a four point scale at “A” grade and an Autonomous Institution affiliated to
                Anna University, Chennai. The college was established in the year 1984 by Mepco Schlenk Charities
                founded by The Metal Powder Company Ltd., Tirumangalam, Madurai. The
                college is known for its excellence in infrastructure, teaching and research activities. The Institute
                offers 7 UG programs,which are accredited by NBA under Tier I category and 9 PG
                th
                programs. The college has been sanctioned with 115 sponsored research projects worth of 13.00 crores.
                The College got 5 rank at National level in Top Engineering Colleges of
                th Eminence category in the CSR-GHRDC Engineering Colleges Survey June 2017 and 29 Rank among National
                Level Engineering Colleges including IITs, NITs, by Outlook Survey,
                June 2018. The Department of Mathematics has striven to set high standards in teaching, right from the
                beginning by well-qualified faculty of fourteen members with eight Ph.D.'s and
                five members pursuing Ph.D. The department is currently having DST – SERB, NBHM funded projects. The
                department conducted many FDPs, STTPs, Workshops and Conferences
              </p>
              <!-- <div class="socials mt-20">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-envelope"></i></a>
              </div> -->
            </div>
          </div>
        </div>
        <h4 class="team-title"><b>Mepco Schlenk Engineering College</b></h4>
        <span>Sivakasi, Tamil Nadu</span>
      </div>
    </div>
    <!-- end team member -->

    <div class="col-md-6 col-sm-6 team-wrap">
      <div class="team-member text-center">
        <div class="team-img">
          <img src="https://upload.wikimedia.org/wikipedia/commons/8/82/IMSc_Chennai.jpg" alt="">
          <div class="overlay">
            <div class="team-details text-center">
              <p>
                The Teacher's Enrichment Workshop (TEW) series is a
                programme of the National Centre for Mathematics
                (NCM), which sponsors instructional schools and
                workshops at several levels in various places across the
                country.
                It is meant for college teachers to revisit and update
                their content knowledge. The lectures will cover specific
                topics which are relevant for what teachers themselves
                teach in their classrooms. An important component of the
                workshop is the discussion hour during which the
                teachers will have opportunities to get their doubts
                cleared and work out exercises both routine and
                advanced.
                This workshop on Linear Algebra and Multivariable
                Calculus is meant primarily for Mathematics teachers of
                Govt./Aided/Self Financing Arts and Science Colleges
              </p>
              <!-- <div class="socials mt-20">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-envelope"></i></a>
              </div> -->
            </div>
          </div>
        </div>
        <h4 class="team-title"><b>Teacher's Enrichment Workshop</b></h4>
        <span>A brief description of TEW</span>
      </div>
    </div>
    <!-- end team member -->
  </div>
  <br />
  <h1 class="text-center">Convenors</h1>
  <hr />
  <div class="row team-row">
    <div class="col-md-6 col-sm-6 team-wrap">
      <div class="team-member text-center ">
        <div class="container">
          <img src="http://www.mepcoeng.ac.in/images/RR.JPG" alt="">
        </div>
        <h4 class="team-title"><b>Dr.R.Ratha Jeyalakshmi</b></h4>
        <span>
          Associate Professor and Head, <br />
          Department of Mathematics <br />
          Mepco Schlenk Engineering College <br />
          Sivakasi 626005 <br />
          Mail to : <a href="mailto:rratha@mepcoeng.ac.in">rratha@mepcoeng.ac.in</a>
        </span>
      </div>
    </div>
    <!-- end team member -->
    <div class="col-md-6 col-sm-6 team-wrap">
      <div class="team-member text-center ">
        <div class="container">
          <img src="https://www.imsc.res.in/system/files/faculty/photos/knr-200x231.jpg" style="width:300px; height:339px" alt="">
        </div>
        <h4 class="team-title"><b>K N Raghavan</b></h4>
        <span>
            Professor,<br />
            IMSc<br />
            C. I. T. Campus<br />
            Chennai 600 113<br />
          Mail to : <a href="knr.imsc@gmail.com">knr.imsc@gmail.com</a>
        </span>
      </div>
    </div>
    <!-- end team member -->
  </div>
</div>
