* {border:0;outline:0;}

label#largeFile:after {
  position:absolute;
  width:60%;
  max-width:800px;
  content:"Upload your file";
  left:0;
  right:0;
  margin:50px auto;
  text-align:center;
  padding:50px 0px 50px 0px;
  border-radius:10px;
  border:5px dashed rgb(38, 20, 82);
  color:rgb(38, 20, 82);
  font-family:"Helvetica Neue", Helvetica, Arial;
  font-size:30px; 
}

label#largeFile:hover:after {
  background:rgb(42, 22, 97);
  color:#fff;
  cursor:pointer;
}


label#largeFile input#file {
    width: 0px;
    height: 0px;
}