<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> CHANGE PASSWORD </h2>
    <br><br>
    <!-- Login Form -->
    <form class="" [formGroup]="passwordForm" (ngSubmit)=onSubmit(passwordForm.value)>

        <input type="password" class="fadeIn third" placeholder="Old Password" formControlName="oldPassword" [ngClass]="{'is-invalid': submitted &&f.oldPassword.errors}">
        <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
          <div *ngIf="f.oldPassword.errors.required">Password is required</div>
        </div>

        <input type="password" class="fadeIn third" placeholder="new Password" formControlName="newPassword" [ngClass]="{'is-invalid': submitted &&f.newPassword.errors}">
        <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
          <div *ngIf="f.newPassword.errors.required">Password is required</div>
        </div>

        <input type="password" class="fadeIn third" placeholder="Confirm new Password" formControlName="confirmNewPassword" [ngClass]="{'is-invalid': submitted &&f.confirmNewPassword.errors}">
        <div *ngIf="submitted && f.confirmNewPassword.errors" class="invalid-feedback">
          <div *ngIf="f.confirmNewPassword.errors.required">Password is required</div>
        </div>
  
        <input type="submit" class="fadeIn fourth" value="{{ this.Button }}">
      </form>

    <!-- Remind Passowrd -->
    <div id="formFooter" *ngIf="!auth.isLoggedIn()">
      <a class="nav-link underlineHover" [routerLink]="['/login']" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}">Sign in</a>

    </div>

  </div>
</div>